{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="left_h">
        <div class="holder">
            <img src="static/Shonen_jump.jpg" alt="Anime" class="img_home">
        </div>
        <div  class="holder">
            <h5 class="a">Search any anime and also join our open chat!!</h5>
        </div>
    </div>
    <div class="right_h">
        <div class="loginf">
            <h4>Login</h4>
            <form action="/login" method="post">
                <div class="form-group">
                    <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
                </div>
                <div class="form-group">
                    <input class="form-control" name="password" placeholder="Password" type="password">
                </div>
                <button class="btn btn-primary" type="submit" >Log In</button>
            </form>
            <div class="reg">
                <a href="/registration"><h7>New Otaku? Register Here!</h7></a>
            </div>
        </div>
    </div>

{% endblock %}
