{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <div class = "password_change">
        <div class ="password_body">
            <h3 class="form_title">Password Update</h3>
            <form action= "/password" method= "post">
                <table class="password_up">
                    <tr>
                        <td class="col1"><label>New Password</label></td>
                        <td class="col2"><input autocomplet ="off" autofocus="off" class="p_input2" name ="new_password" type="password"></td>
                    </tr>
                    <tr>
                        <td class="col1"><label>Confirm New Password</label></td>
                        <td class="col2"><input autocomplet ="off" autofocus="off" class="p_input3" name ="confirmation" type="password"></td>
                    </tr>
                    <tr>
                        <td class="col1"></td>
                        <td class="col2"><button class="btn btn-primary" type="submit">Update</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{% endblock %}